@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-family-sans: var(--font-roboto), sans-serif;
  --font-family-serif: var(--font-playfair), serif;

  --color-gold-400: #fde047;
  --color-gold-500: #facc15;

  --color-background: theme(colors.white);
  --color-text: theme(colors.black);
  --color-surface: theme(colors.neutral.100); /* Für Hintergründe von Karten etc. */
  --color-text-muted: theme(colors.neutral.500);
  --color-border: theme(colors.neutral.200);

   --color-surface-rgb: 244 244 245;
   --color-surface-2: theme(colors.white);
  --color-surface-3: theme(colors.neutral.50);
}

@layer base {
  .dark {
    --color-background: theme(colors.black);
    --color-text: theme(colors.white);
    --color-surface: theme(colors.neutral.900);
    --color-text-muted: theme(colors.neutral.400);
    --color-border: theme(colors.white / 0.1);

    --color-surface-rgb: 38 38 38;
    --color-surface-2: theme(colors.black);
    --color-surface-3: theme(colors.neutral.950);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    @apply font-sans; 
    /*@apply bg-black text-white font-sans;*/
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.card {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 200px;
  border-radius: 30px;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
          box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}

.card::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-filter: url(#container-glass);
          filter: url(#container-glass);
  overflow: hidden;
  isolation: isolate;
}
